<section class="SubPagesHero">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center gap-md-4 gap-3">
            <h1>Latest News & Blog</h1>
            <div class="d-flex align-items-center gap-2">
                <hr>
                <a href="index-2.html">HOME</a><i class="fa-regular fa-circle"></i> <a href="#">OUR NEWS</a>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- ======== End of 2.1. SubPagesHero section ========  -->
<!-- ========  1.9. NewsEvents section ========  -->
<section class="NewsEvents">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="d-flex flex-column gap-md-5 gap-4">
                    <div class="d-flex flex-column gap-2 pe-lg-3" data-aos="flip-left">
                        <figure>
                            <img src="assets/images/blog/blog1.webp" alt="blog1">
                        </figure>
                        <div class="d-flex gap-md-3 gap-2 align-items-center pt-md-3 pt-2">
                            <span class="date">
                                January 19, 2024
                            </span>
                            <div class="d-flex align-items-center p-0"><i class="fa-regular fa-circle"></i>
                            </div>
                            <span>Dinning</span>
                            <hr>
                        </div>
                        <h4>Our New Chef and Spring Special Menu</h4>
                    </div>
                    <div class="d-flex flex-column gap-2 pe-lg-3" data-aos="flip-left">
                        <figure>
                            <img src="assets/images/blog/blog4.webp" alt="blog4">
                        </figure>
                        <div class="d-flex gap-md-3 gap-2 align-items-center pt-md-3 pt-2">
                            <span class="date">
                                January 19, 2024
                            </span>
                            <div class="p-0"><i class="fa-regular fa-circle"></i></div>
                            <span>Sightseeing</span>
                            <hr>
                        </div>
                        <h4>Outdoor Infinite Pool is Back</h4>
                    </div>
                    <div class="d-flex flex-column gap-2 pe-lg-3" data-aos="flip-left">
                        <figure>
                            <img src="assets/images/blog/blog7.webp" alt="blog7">
                        </figure>
                        <div class="d-flex gap-md-3 gap-2 align-items-center pt-md-3 pt-2">
                            <span class="date">
                                January 19, 2024
                            </span>
                            <div class="p-0"><i class="fa-regular fa-circle"></i></div>
                            <span>Sightseeing</span>
                            <hr>
                        </div>
                        <h4>The Finest Vacation Spot</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="d-flex flex-column gap-md-5 gap-4">
                    <div class="d-flex flex-column gap-2" data-aos="flip-right">
                        <figure>
                            <img src="assets/images/blog/blog2.webp" alt="blog2">
                        </figure>
                        <div class="d-flex gap-md-3 gap-2 align-items-center pt-md-3 pt-2">
                            <span class="date">
                                January 19, 2024
                            </span>
                            <div class="p-0"><i class="fa-regular fa-circle"></i></div>
                            <span>Sightseeing</span>
                            <hr>
                        </div>
                        <h4>The Best Hotel Booking Platform</h4>
                    </div>
                    <div class="DarkImage" data-aos="flip-right">
                        <div
                            class="d-flex flex-column gap-md-4 gap-3 align-items-center justify-content-center text-center">
                            <div><img src="assets/images/icons/comas.svg" alt="comas"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                            </p>
                            <p><span>Sylvia reeves</span></p>
                        </div>
                    </div>
                    <div class="d-flex flex-column gap-2" data-aos="flip-right">
                        <figure>
                            <img src="assets/images/blog/blog8.webp" alt="blog8">
                        </figure>
                        <div class="d-flex gap-md-3 gap-2 align-items-center pt-md-3 pt-2">
                            <span class="date">
                                January 19, 2024
                            </span>
                            <div class="p-0"><i class="fa-regular fa-circle"></i></div>
                            <span>Sightseeing</span>
                            <hr>
                        </div>
                        <h4>Maintain Your Fitness Routine on Vacation</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="d-flex flex-column flex-md-row flex-lg-column gap-lg-5 gap-4 gap-md-4 flex-md-wrap">
                    <div class="d-flex flex-column gap-2" data-aos="flip-right">
                        <figure>
                            <img src="assets/images/blog/blog3.webp" alt="blog3">
                        </figure>
                        <div class="d-flex gap-md-3 gap-2 align-items-center pt-md-3 pt-2">
                            <span class="date">
                                January 19, 2024
                            </span>
                            <div class="p-0"><i class="fa-regular fa-circle"></i></div>
                            <span>Sightseeing</span>
                            <hr>
                        </div>
                        <h4>Unique Resorts For Your Next Gateway</h4>
                    </div>
                    <div class="d-flex flex-column gap-2" data-aos="flip-right">
                        <figure>
                            <img src="assets/images/blog/blog6.webp" alt="blog6">
                        </figure>
                        <div class="d-flex gap-md-3 gap-2 align-items-center pt-md-3 pt-2">
                            <span class="date">
                                January 19, 2024
                            </span>
                            <div class="p-0"><i class="fa-regular fa-circle"></i></div>
                            <span>Sightseeing</span>
                            <hr>
                        </div>
                        <h4>Introducing New Restaurants</h4>
                    </div>
                    <div class="d-flex flex-column gap-2" data-aos="flip-right">
                        <figure>
                            <img src="assets/images/blog/blog9.webp" alt="blog9">
                        </figure>
                        <div class="d-flex gap-md-3 gap-2 align-items-center pt-md-3 pt-2">
                            <span class="date">
                                January 19, 2024
                            </span>
                            <div class="p-0"><i class="fa-regular fa-circle"></i></div>
                            <span>Sightseeing</span>
                            <hr>
                        </div>
                        <h4>Beautifully Day Spend In The Hotel</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>