name: Backend CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build backend with Maven
        working-directory: sagem-login
        run: mvn clean package -DskipTests

      - name: SonarCloud Scan
        working-directory: sagem-login
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn sonar:sonar \
            -Dsonar.projectKey=wiem183_pipeline-cicd \
            -Dsonar.organization=wiem183 \
            -Dsonar.host.url=https://sonarcloud.io

      - name: Build backend Docker image
        working-directory: sagem-login
        run: docker build -t sagem-login-backend .
